<div class="panel panel-heading">
  <center>
    <h1><%= t "views.static_pages.home1" %></h1>
  </center>
  </div>
  <div class="panel-body">
  <center>
    <h2><%= t "views.static_pages.home.name_team" %></h2>
    <br/>
    <%= link_to t("views.static_pages.home.signup"), new_user_registration_path,
      class: "btn btn-lg btn-success" unless user_signed_in?%>
  </center>
</div>
