<div>
  <div id="league-accordion-menu">
    <%= render "leagues/league_accordion_menu", target: :rankings %>
  </div>
  <div id="league-season-info">
    <%= render "league_seasons/ranking" %>
  </div>
</div>
