<div class="row">
  <div id="league-menu" class="col col-md-3">
    <%= render "league_accordion_menu" %>
  </div>
  <div id="league-season-info" class="col-md-9">
    <div id="schedule-container">
    </div>
    <div id="rank-container">
    </div>
  </div>
</div>
