<div class="row">
  <div class="panel panel-heading">
    <h1 class="center match-title"><%= t ".update_match" %></h1>
  </div>
  <div class="col-md-8 col-md-offset-2 new-match">
    <%= render "form_edit" %>
  </div>
  <div class="clearfix"></div>

  <div class="form-inline" id="new-event">
    <%= render "match_events" %>
  </div>

</div>
