<%= provide :match_submit_button, t(".new_match") %>

<div class="row">
  <div class="heading center">
    <h1><%= t ".new" %></h1>
  </div>
  <div class="new-match center">
    <%= render "form_new" %>
  </div>
  <div class="clearfix"></div>
</div>
