<div>
  <div id="league-accordion-menu">
    <%= render "leagues/league_accordion_menu", target: :schedules %>
  </div>
  <div id="league-season-info">
    <%= render "league_seasons/schedule" %>
  </div>
</div>
