<%= provide :submit_button_league_season, t(".edit") %>

<div class="col-md-12">
  <h1 class="center"><%= @league.name %></h1>
  <h2 class="center"><%= t ".edit" %></h2>
  <br>
  <div class="form">
    <%= render "form" %>
  </div>
</div>
