@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: blue;
  text-decoration: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.table-leagues {
  thead {
    .league {
      width: 30%
    }
    .country {
      width: 30%
    }
    .action {
      width: 10%
    }
  }
}

#new_news{
  .select-news-type{
    select{
      width: 50%;
    }
  }
  .brief-descripstion{
    textarea{
      resize: none;
      height: 100px;
    }
  }
  .author{
    input{
      width: 30%;
    }
  }
}
.edit_news{
  .select-news-type{
    select{
      width: 50%;
    }
  }
  .brief-descripstion{
    textarea{
      resize: none;
      height: 100px;
    }
  }
  .represent-image{
    .image{
      img{
        margin-bottom: 15px;
        border: 1px solid #e8e8e8;
      }
    }
  }
  .author{
    input{
      width: 30%;
    }
  }
}

.show-team {
  border-bottom: 1px solid #E86E3F;
}

.team-actions {
  width: 40%;
}

.no-player-team {
  color: red;
}

.player-in-team {
  width: 20%;
}

.news{
  .news-time{
    color: $gray-light;
  }
  .news-summary{
    font-weight: bold;
    margin: 20px 0 20px 0;
  }
  .news-body{
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    padding: 20px 0 20px 0;
  }
  .news-author{
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
  }
}

.action {
  .action-view {
    padding-right: 5px;
      &:hover {
        color: #E021CE;
        text-decoration: none;
      }
  }

  .action-edit {
    padding-right: 5px;
      &:hover {
        color: #28E6C6;
        text-decoration: none;
      }
  }

  .action-delete {
    &:hover {
      color: red;
      text-decoration: none;
    }
  }
}

.no-team {
  color: red;
  padding: 0px 0px 10px 20px;
}

.add_fields {
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove_season_teams {
  &:hover {
    color: red;
    text-decoration: none;
  }
}

.current-league {
  color: green;
}
