@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

.no-radius{
  border-radius: 0px;
}
.form-inline{
  margin-bottom: 20px;
  text-align: right;
}

.half-width{
  width: 50%;
}
.modal-body{
  text-align: left;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: blue;
  text-decoration: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.table-leagues {
  thead {
    .league {
      width: 30%
    }
    .country {
      width: 30%
    }
    .action {
      width: 10%
    }
  }
}

#new_news{
  .select-news-type{
    select{
      width: 50%;
    }
  }
  .brief-descripstion{
    textarea{
      resize: none;
      height: 100px;
    }
  }
  .author{
    input{
      width: 30%;
    }
  }
}
.edit_news{
  .select-news-type{
    select{
      width: 50%;
    }
  }
  .brief-descripstion{
    textarea{
      resize: none;
      height: 100px;
    }
  }
  .represent-image{
    .image{
      img{
        margin-bottom: 15px;
        border: 1px solid #e8e8e8;
      }
    }
  }
  .author{
    input{
      width: 30%;
    }
  }
}

.show-team {
  border-bottom: 1px solid #E86E3F;
}

.team-actions {
  width: 40%;
}

.no-player-team {
  color: red;
}

.player-in-team {
  width: 20%;
}

/* view news */
#news-section{
  width: 70%;
  .news-time{
    color: #999999;
  }
  .news-summary{
    font-weight: bold;
    margin: 20px 0 20px 0;
  }
  .news-body{
    border-top: 1px solid #d3d3d3;
    padding: 20px 0 20px 0;
  }
  .news-author{
    text-align: right;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
  }
}

#comments-section{
  width: 70%;
}
/* new comment */
#new-comment{
  margin-top: 50px;
  background-color: #f2f2f2;
  padding: 30px;
  .user-name{
    margin-left: 10px;
    font-weight: bold;
    vertical-align: top;
  }
  #new_comment{
    .new-content{
      textarea{
        width: 100%;
        height: 100px;
        resize: vertical;
        margin-top: 15px;
        padding: 10px;
      }
    }
    input{
      border-radius: 0;
    }
  }
}

.icon_image_social {
  width: 25px;
  height: 25px;
}

#login-invite{
  margin-top: 50px;
}

.comment-stats{
  margin: 30px 0 10px 0;
  strong{
    font-size: 1.25em;
  }
}

/* Comments */
#comments{
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .avatar{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
  }
  .comment-body{
    display: inline-block;
    width: 90%;
    .user-name{
      font-weight: bold;
    }
    .content {
      word-wrap: break-word;
    }
    .timestamp {
      color: #999999;
    }
    textarea{
      resize: vertical;
      width: 96%;
      height: 80px;
      margin: 5px 0;
    }
    button{
      border-radius: 0px;
      margin-right: 5px;
    }
  }
}

.action {
  .action-view {
    padding-right: 5px;
      &:hover {
        color: #E021CE;
        text-decoration: none;
      }
  }

  .action-edit {
    padding-right: 5px;
      &:hover {
        color: #28E6C6;
        text-decoration: none;
      }
  }

  .action-delete {
    &:hover {
      color: red;
      text-decoration: none;
    }
  }
}

.no-team {
  color: red;
  padding: 0px 0px 10px 20px;
}

.add_fields {
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove_season_teams {
  &:hover {
    color: red;
    text-decoration: none;
  }
}

.current-league {
  color: green;
}

/* manager news */
#header-manager{
  display: inline-block;
}

#add-news{
  display: inline-block;
  vertical-align: bottom;
  float: right;
  align-items: center;
  a.btn.btn-primary.add-news{
    border-radius: 0px;
  }
}

.filter-form{
  width: 100%;
  margin: 30px 0 30px 0;
  #news_search{
    #q_title_cont{
      width: 45%;
      margin-right: 1%;
    }
    #q_news_type_id_eq{
      width: 45%;
      margin-right: 1%;
    }
    .btn{
      width: 7%;
    }
  }
}

#news-manager{
  thead{
    tr{
      th.serial{
        width: 5%;
      }
      th.title{
        width: 35%;
      }
      th.create-time{
        width: 20%;
      }
      th.type{
        width: 20%;
      }
      th.comments{
        width: 10%;
      }
      th.action{
        width: 15%;
      }
    }
  }
  tbody{
    tr{
      td.action{
        text-align: center;
        a{
          margin: 0 8px;
        }
      }
    }
  }
}
/* manager news types */
#news-type-form{
  width: 40%;
}
#add-news{
  #new-news-type{
    border-radius: 0px;
  }
}
#news-types-manager{
  width: 100%;
  thead{
    tr{
      th.header-index{
        width: 5%;
      }
      th.header-name{
        width: 45%;
      }
      th.header-create-time{
        width: 25%;
      }
      th.header-news{
        width: 10%;
      }
      th.action{
        width: 15%;
      }
    }
  }
  tbody{
    tr{
      td.action{
        text-align: center;
        a{
          margin: 0 10%;
        }
      }
    }
  }
}
/* common properties */
.form-control{
  border-radius: 0px;
}

input[type=submit]{
  border-radius: 0px;
}
.btn-default{
  border-radius: 0px;
}

.table.not-overflow{
  tbody{
    tr{
      td{
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.match {
  width: 100%;
  text-align: center;
  .team-heading {
    td {
      padding-bottom: 10px;
    }
  }

  .chose-team {
    td {
      select {
        option {
          font-size: 20px;
          text-align: center;
        }
      }
    }

    .team1 .team2 {
      height: 50px;
    }
  }

  .form-control {
    margin: 10px;
  }

  .team-odds {
    td {
      .odds {
        width: 100px;
      }
    }
  }

  tr {
    td {
      .pull-left {
        margin: 15px 0 0 0;
      }
    }
  }

  .row-goal {
    td {
      #label-goal {
      }
      .team-goal {
        width: 80px;
        height: 80px;
        font-size: 20px;
        text-align: center;
      }

      .goal {
        display: inline;
      }

      #goal-center {
        margin: 0px 100px;
        font-size: 40px;
      }
    }
  }
}

.create-match {
  margin-top: 20px;
}

select#match_team1 {
  height: 50px;
  font-size: 16px;
  width: 88%;
  margin-right: -5px;
}

select#match_team2 {
  height: 50px;
  font-size: 16px;
  margin-left: -10px;
}

.field_with_errors {
    display: -webkit-inline-box;
}

h2.center.match-title {
  color: #000F99;
  font-family: Time New Roman;
}

/* user view match */
#match-section{
  width: 70%;
  #league-name{
    font-size: 2em;
    text-align: center;
  }
  #match-info{
    margin-top: 30px;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    display: inline-block;
    .team{
      display: inline-block;
      a:hover{
        text-decoration: none;
      }
      img{
        border: 1px solid #e8e8e8;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      }
      p{
        font-size: 1.2em;
        margin-top: 15px;
      }
    }
    #info{
      margin-top: 20px;
      vertical-align: top;
      width: 30%;
      display: inline-block;
      span{
        font-size: 2.75em;
        margin: 0 10px;
      }
      .goals{
        font-size: 3em;
        margin: 0 5px;
      }
      p.label{
        margin: 40px 0;
        font-size: 1em;
      }
    }
    #start-time{
      font-weight: bold;
    }
  }
}

#bet-odds{
  table{
    text-align: center;
    thead tr th{
      width: 33%;
      text-align: center;
    }
  }

  .make-bet-success {
    color: green;
  }

  #user-bet {
    background: rgba(37, 183, 0, 0.52);
    padding: 36px;
    text-align: center;
    .btn {
      width: 25%;
    }

    .bet-coin {
      width: 20%;
    }

    .form-inline {
      .team1 {
        margin: 0 10px 0 0;
      }

      .draw {
        margin: 0 5px;
      }

      .team2 {
        margin-left: 10px;
      }
    }
  }
}
#match-events{
  table{
    thead tr{
      th#header-time{
        width: 10%;
        text-align: center;
      }
      th#header-event{
        text-align: center;
      }
    }
    tbody tr{
      td.time{
        text-align: center;
      }
      td.event{
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
    }
  }
}

#team-goal {
  font-size: 40px;
}

table.table.table-bordered.text-center {
  width: 70%;
  margin: auto;
}

#table-team-heading {
  width: 100%;
}

#finished-match {
  color: red;
}

#match-in-process {
  color: green;
}

#new-event {
  margin: 2% 0% 10% 16%;
  width: 79%;
  .enter-time {
    width: 20%;
    .time {
      width: 80%;
      text-align: center;
    }
  }

  .enter-event {
    width: 50%;
    .form-event {
      width: 160%;
      margin-top: 3%;
      margin-left: -20px;
      resize: vertical;
    }
  }

  .event {
    margin: 1% 15% 0 0;
  }

  .event {
    table {
      thead {
        .time-head {
          width: 19%;
          text-align: center;
        }
      }

      tbody {
        tr {
          .event-time {
            text-align: center
          }
        }
      }
    }
  }
}

.show-bet-user {
  text-align: center;

  .list-bet-user {
    padding: 0 20%;
    table {
      thead {
        .index-user-bet {
          align: center;
          width: 6%;
        }

        .chosen-user-bet {
          width: 20%;
        }

        .coin-uset-bet {
          width: 5%;
        }
      }
    }
  }
}
#league-menu{
  border: 1px solid #e8e8e8;
  padding: 0px;
  #league-header{
    margin-top: 10px;
    font-size: 1.25em;
  }
  .dropdown{
    border-top: 1px solid #e8e8e8;
    font-weight: bold;
    a{
      color: black;
    }
  }
}
#league-season-info{
  padding: 0px;
  margin-left: 20px;
  .season-info-container{
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
  }
}

#table-matches tr{
  td.start-date{
    text-align: center;
    background-color: green;
    color: white;
    font-weight: bold;
  }
  td.start-time{
    text-align: center;
  }
  td.team1{
    width: 35%;
    text-align: right;
  }
  td.result{
    width: 10%;
    text-align: center;
    color: red;
    .goals-team1{
      margin-right: 5px;
    }
    font-weight: bold;
  }
  td.team2{
    width: 35%;
  }
  td.action{
    width: 10%;
    text-align: center;
  }
}

#rank-table{
  thead{
    background-color: green;
    color: white;
  }
  .stats{
    width: 6%;
    text-align: center;
  }
}

#ranking-table-name{
  font-weight: bold;
  margin-bottom: 5px;
}

#schedule-table-name{
  font-weight: bold;
  margin-bottom: 5px;
}

.new-match {
  width: 55%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .team-heading {
    width: 100%;
    padding-left: 5%;
    margin-left: 0.1%;
    background: rgba(220, 220, 220, 0.65);
  }

  .form {
    margin-top: 5%;
    margin-left: -7%;
    padding-left: 5%;
    .chose-team {
      .team1 {
        width: 40%;
        .form-control {
          width: 88%;
        }
      }
      .team2 {
        width: 40%;
        .form-control {
          width: 88%;
        }
      }
    }

    .start-time {
      margin: 2% auto;
      width: 40%;
      text-align: center;
    }
    .status {
      margin: 3% auto;
      width: 40%;
    }

    .odds {
      margin-top: 1%;
      .form-inline {
        .odds {
          width: 20%;
        }
      }
    }

    .goals {
      width: 40%;
      margin: 1% auto;
      margin-top: 2%;
      height: 69px;
      .team1-goals {
        width: 30%;
        float: left;
        input {
          height: 69px;
          text-align: center;
          font-size: 20px;
        }
      }
      #space {
        width: 40%;
        float: left;
        font-size: 39px;
      }
      .team2-goals {
        float: left;
        width: 30%;
        input {
          height: 69px;
          text-align: center;
          font-size: 20px;
        }
      }
    }

    .submit {
      margin-left: 2%;
    }
  }

  #error_explanation {
    margin: 0 3%;
    text-align: left;
  }
}

.field_with_errors {
  display: inline;
}

.heading {
  color: green;
}

.edit-match {
  -webkit-box-shadow: 5px 4px 0px 0px rgba(105, 114, 107, 0.4);
  -moz-box-shadow: 5px 4px 0px 0px rgba(105, 114, 107, 0.4);
  box-shadow: 5px 4px 0px 0px rgba(105, 114, 107, 0.4);
  width: 55%;
  margin: 0 auto;
  .team-heading {
    width: 100%;
    padding-left: 5%;
    padding-top: 2%;
    margin-left: 0.1%;
    background: rgba(220, 220, 220, 0.65);
    a {
      text-decoration: none;
      img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
    .image {
      margin-top: 1%;
      p {
        margin-top: -10px;
        font-size: 14px;
      }
      img {
        margin-top: 11px;
      }
    }

    #start-time {
      padding-right: 9%;
    }
  }

  .form {
    margin-top: 3%;
    .start-time {
      margin: 0 auto;
      padding-right: 10%;
    }

    .status {
      margin: 1% auto;
      padding-right: 7%;
      select {
        width: 248px;
      }
    }

    .goals {
      width: 40%;
      margin: 2% auto;
      margin-top: 2%;
      height: 69px;
      .team1-goals {
        width: 30%;
        float: left;
        input {
          height: 69px;
          text-align: center;
          font-size: 20px;
        }
      }
      #space {
        width: 40%;
        float: left;
        font-size: 39px;
      }
      .team2-goals {
        float: left;
        width: 30%;
        input {
          height: 69px;
          text-align: center;
          font-size: 20px;
        }
      }
    }

    .odds {
      margin: 3% 0;
      table {
        width: 60%;
        margin: 0 auto;
        input {
          text-align: center;
        }
      }
    }
  }
}

.form-new-event {
  border: 1px solid green;
  padding-left: 5%;
  width: 85%;
  padding-bottom: 28px;

  .submit {
    .add-event-submit {
      width: 110px;
      margin: 10px;
    }
  }
}

#player-profile{
  #player-info{
    display: inline-block;
    width: 25%;
    img{
      border: 1px solid #e8e8e8;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 20px;
    }
    .attribute-info{
      .attribute{
        display: inline-block;
        font-weight: bold;
        width: 40%;
      }
      .value{
        display: inline-block;
      }
      border-bottom: 1px solid #e8e8e8;
    }
  }
  #player-content{
    width: 74%;
    display: inline-block;
    vertical-align: top;
  }
}

#team-profile{
  #team-info{
    display: inline-block;
    width: 25%;
    img{
      border: 1px solid #e8e8e8;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 20px;
    }
  }
  #team-content{
    width: 74%;
    display: inline-block;
    vertical-align: top;
  }
}
.table-info-template{
  tr{
  }
  vertical-align: top;
  width: 100%;
  .attribute{
    font-weight: bold;
    width: 40%;
    vertical-align: top;
    padding: 3px 0;
  }
  .value{
    width: 70%;
    word-break: keep-all;
    vertical-align: top;
    padding: 3px 0;
  }
}

.nav.nav-tabs{
  margin-bottom: 30px;
}

.players-in-group{
  tbody tr td{
    vertical-align: middle;
  }
  tbody tr td.position{
    font-weight: bold;
  }
  .avatar{
    width: 7%;
    text-align: center;
    padding: 5px 0;
  }
  .jersey-number{
    width: 7%;
    text-align: center;
    font-weight: bold;
  }
  .name{
    width: 35%;
  }
  .country-flag{
    width: 8%;
  }
  .country-name{
    width: 20%;
  }
  .date-of-birth{
    width: 15%;
    text-align: center;
  }
}

/* form for team & player */
.form-horizontal{
  img{
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
  }
  textarea{
    resize: vertical;
    height: 200px;
    width: 100%;
  }
}
#team_search{
  width: 100%;
  .search-name{
    width: 40%;
  }
  .search-country{
    width: 25%;
    select{
      width: 100%;
    }
  }
  input{
    width: 100%;
  }
}
.table-manager-teams{
  tbody tr td{
    vertical-align: middle;
  }
  .header-index{
    width: 5%;
  }
  .header-logo{
    width: 8%;
  }
  .header-flag{
    width: 10%;
  }
  .header-country{
    width: 20%;
  }
  .header-coach{
    width: 15%;
  }
  .header-players{
    width: 5%;
  }
  .header-action{
    width: 10%;
  }
  a{
    margin-right: 10px;
  }
}

.table-teams{
  tbody tr td{
    vertical-align: middle;
  }
  .header-logo{
    width: 8%;
  }
  .header-flag{
    width: 10%;
  }
  .header-country{
    width: 20%;
  }
  .header-coach{
    width: 25%;
  }
  .header-players{
    width: 5%;
  }
}
#count-teams{
  font-weight: bold;
  margin-top: 20px;
}

#table-players{
  tbody tr td{
    vertical-align: middle;
  }
  .avatar{
    width: 7%;
  }
  .country-flag{
    width: 10%;
  }
  .country-name{
    width: 20%;
  }
  .team-logo{
    width: 7%;
  }
  .team-name{
    width: 20%;
  }
  .position{
    width: 10%;
  }
}

#table-manager-players{
  tbody tr td{
    vertical-align: middle;
  }
  .index{
    width: 5%;
  }
  .avatar{
    width: 7%;
  }
  .country-flag{
    width: 10%;
  }
  .country-name{
    width: 15%;
  }
  .team-logo{
    width: 7%;
  }
  .team-name{
    width: 15%;
  }
  .position{
    width: 10%;
  }
  .action{
    width: 10%;
  }
  a{
    margin-right: 10px;
  }
}

.table{
  tbody tr td{
    vertical-align: middle;
  }
}

.show-all-users {
  .heading {
    margin-bottom: 5%;
  }

  .filter {
    margin: 1%;
  }
  .table {
    thead {
      .index {
        width: 6%;
      }
      .avatar {
        width: 13%;
      }
      .name {
        width: 22%;
      }
      .email {
        width: 32%
      }
      .mode {
        width: 10%
      }
      .role {
        width: 11%;
      }
      .action {
        width: 6%;
      }
    }
  }
}

#user-profile{
  #user-info{
    vertical-align: top;
    display: inline-block;
    width: 25%;
    img{
      border: 1px solid #e8e8e8;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 20px;
    }
  }

  #user-content{
    padding-left: 5%;
    width: 74%;
    display: inline-block;
    .activities {
      .activity {
        margin: 1%;
        padding-left: 2%;
        padding-top: 27px;
        width: 100%;
        height: 100px;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(109, 97, 97, 1);
        -moz-box-shadow: 0px 0px 3px 0px rgba(109, 97, 97, 1);
        box-shadow: 0px 0px 3px 0px rgba(109, 97, 97, 1);
        .content {
          margin-left: 7%;
        }
        .time-ago {
          color: #abaaa9;
        }
      }
    }
  }
}
#current-team-squad{
  width: 100%;
  .header-squad-number{
    width: 5%;
  }
  .squad-number{
    font-weight: bold;
  }
  .header-avatar{
    width: 8%;
  }
  .header-age{
    width: 5%;
  }
  .header-flag{
    width: 10%;
  }
  .header-country{
    width: 20%;
  }
  .header-position{
    width: 10%;
  }
  .header-joined-date{
    width: 10%;
  }
  .action{
    width: 10%;
  }
  a{
    margin-right: 10px;
  }
}

#transfer-team-players{
  .header-index{
    width: 5%;
  }
  .header-avatar{
    width: 8%;
  }
  .header-age{
    width: 5%;
  }
  .header-height{
    width: 8%;
  }
  .header-weight{
    width: 8%;
  }
  .header-flag{
    width: 10%;
  }
  .header-country{
    width: 20%;
  }
  .header-position{
    width: 10%;
  }
  .header-action{
    width: 5%;
  }
}

.new-country {
  margin: 0px -2%;
  padding-left: 22%;
  margin-top: 2%;
}

.show-all-countries {
  width: 70%;
  margin: 0 auto;

  .create-country {
    margin-bottom: 1%;
  }

  .table {
    .index {
      width: 8%;
    }

    .flag {
      width: 15%;
    }

    .name {
      width: 30%;
      text-align: left;
    }

    .league {
      width: 14%;
    }

    .league_season {
      width: 19%;
    }

    .player {
      width: 14%
    }
  }
}
