@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";

body {
  background-color: #E5E7E9;
}

#banner{
  height: 150px;
}
.container.body{
  background-color: white;
  padding: 30px;
  margin-top: 0px;
}
.container.header{
  padding: 0;
}
#nav-header{
  margin-bottom: 0;
}

.affix {
  top: 0;
  width: 100%;
}
.center {
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}
.no-radius{
  border-radius: 0px;
}

.half-width{
  width: 50%;
}
.modal-body{
  text-align: left;
}

.hidden{
  display: none;
}
h1{
  margin: 0px;
}
#image-view{
  border: 1px solid #e8e8e8;
  margin-bottom: 15px;
  text-align: center;
  vertical-align: middle;
}

#avatar-on-nav{
  width: 25px;
  height: 25px;
  border-radius: 100px;
}
.search-form{
  text-align: right;
  margin: 40px 0;
}

.no-result{
  font-weight: bold;
}
a{
  &:hover {
    text-decoration: none;
    color: #D91E18;
  }
}
.manager-header{
vertical-align: top;
  .pull-right{
    margin-top:10px;
  }
  width: 100%;
  .title{
    font-size: 2.5em;
    vertical-align: top;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: blue;
  text-decoration: none;
}

#error_explanation {
  color: #D91E18;
  ul {
    color: #D91E18;
    margin: 0 0 30px 0;
  }
}

.tiny-logo-with-team{
  margin: 0 10px;
}
.table-leagues {
  thead {
    .league {
      width: 30%
    }
    .country {
      width: 30%
    }
    .action {
      width: 10%
    }
  }
}

#new_news{
  width: 70%;
  .select-news-type{
    select{
      width: 50%;
    }
  }
  .brief-descripstion{
    textarea{
      resize: none;
      height: 100px;
    }
  }
  .author{
    input{
      width: 30%;
    }
  }
}
.edit_news{
  .select-news-type{
    select{
      width: 50%;
    }
  }
  .brief-descripstion{
    textarea{
      resize: none;
      height: 100px;
    }
  }
  .represent-image{
    .image{
      img{
        margin-bottom: 15px;
        border: 1px solid #e8e8e8;
      }
    }
  }
  .author{
    input{
      width: 30%;
    }
  }
}

.show-team {
  border-bottom: 1px solid #E86E3F;
}

.team-actions {
  width: 40%;
}

.no-player-team {
  color: #D91E18;
}

.player-in-team {
  width: 20%;
}

/* view news */
#news-section{
  width: 70%;
  display: inline-block;
  .news-time{
    color: #666666;
  }
  .news-summary{
    font-weight: bold;
    margin: 20px 0 20px 0;
  }
  .news-body{
    border-top: 1px solid #d3d3d3;
    padding: 20px 0 20px 0;
  }
  .news-author{
    text-align: right;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
  }
}

#comments-section{
  width: 70%;
}
/* new comment */
#new-comment{
  margin-top: 50px;
  background-color: #f2f2f2;
  padding: 30px;
  .user-name{
    margin-left: 10px;
    font-weight: bold;
    vertical-align: top;
  }
  #new_comment{
    .new-content{
      textarea{
        width: 100%;
        height: 100px;
        resize: vertical;
        margin-top: 15px;
        padding: 10px;
      }
    }
    input{
      border-radius: 0;
    }
  }
}

.icon_image_social {
  width: 25px;
  height: 25px;
}

#login-invite{
  margin-top: 50px;
}

.comment-stats{
  margin: 30px 0 10px 0;
  strong{
    font-size: 1.25em;
  }
}

/* Comments */
#comments{
  list-style: none;
  padding: 0;
  li.comment {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .avatar{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
  }
  .comment-body{
    display: inline-block;
    width: 90%;
    .user-name{
      font-weight: bold;
    }
    .content {
      word-wrap: break-word;
    }
    .timestamp {
      color: #999999;
    }
    textarea{
      resize: vertical;
      width: 96%;
      height: 80px;
      margin: 5px 0;
    }
    button{
      border-radius: 0px;
      margin-right: 5px;
    }
  }
}

.action {
  .action-view {
    padding-right: 5px;
      &:hover {
        color: #E021CE;
        text-decoration: none;
      }
  }

  .action-edit {
    padding-right: 5px;
      &:hover {
        color: #28E6C6;
        text-decoration: none;
      }
  }

  .action-delete {
    &:hover {
      color: #D91E18;
      text-decoration: none;
    }
  }
}

.no-team {
  color: #D91E18;
  padding: 0px 0px 10px 20px;
}

.add_fields {
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove_season_teams {
  color: #D91E18;
  text-decoration: none;
}

.current-league {
  color: #27AE60;
}

/* manager news */
#header-manager{
  display: inline-block;
}

#title-news-types{
  margin-bottom: 30px;
}
#news_search{
  .search-title{
    width: 40%;
    input{
      width: 100%;
    }
  }
  .search-type{
    width: 30%;
    select{
      width: 100%;
    }
  }
}

#news-manager{
  thead{
    tr{
      th.serial{
        width: 5%;
      }
      th.title{
        width: 35%;
      }
      th.create-time{
        width: 20%;
      }
      th.type{
        width: 20%;
      }
      th.comments{
        width: 10%;
      }
      th.action{
        width: 15%;
      }
    }
  }
  tbody{
    tr{
      td.action{
        text-align: center;
        a{
          margin: 0 8px;
        }
      }
    }
  }
}
/* manager news types */
#news-type-form{
  width: 40%;
}

#news-types-manager{
  margin-top: 20px;
  width: 100%;
  thead{
    tr{
      th.header-index{
        width: 5%;
      }
      th.header-name{
        width: 45%;
      }
      th.header-create-time{
        width: 25%;
      }
      th.header-news{
        width: 10%;
      }
      th.action{
        width: 15%;
      }
    }
  }
  tbody{
    tr{
      td.action{
        text-align: center;
        a{
          margin: 0 10%;
        }
      }
    }
  }
}
/* common properties */
.form-control{
  border-radius: 0px;
}

input[type=submit]{
  border-radius: 0px;
}
.btn-default{
  border-radius: 0px;
}

.table.not-overflow{
  tbody{
    tr{
      td{
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.match {
  width: 100%;
  text-align: center;
  .team-heading {
    td {
      padding-bottom: 10px;
    }
  }

  .chose-team {
    td {
      select {
        option {
          font-size: 20px;
          text-align: center;
        }
      }
    }

    .team1 .team2 {
      height: 50px;
    }
  }

  .form-control {
    margin: 10px;
  }

  .team-odds {
    td {
      .odds {
        width: 100px;
      }
    }
  }

  tr {
    td {
      .pull-left {
        margin: 15px 0 0 0;
      }
    }
  }

  .row-goal {
    td {
      #label-goal {
      }
      .team-goal {
        width: 80px;
        height: 80px;
        font-size: 20px;
        text-align: center;
      }

      .goal {
        display: inline;
      }

      #goal-center {
        margin: 0px 100px;
        font-size: 40px;
      }
    }
  }
}

.create-match {
  margin-top: 20px;
}

select#match_team1 {
  height: 50px;
  font-size: 16px;
  width: 88%;
  margin-right: -5px;
}

select#match_team2 {
  height: 50px;
  font-size: 16px;
  margin-left: -10px;
}

.field_with_errors {
    display: -webkit-inline-box;
}

h2.center.match-title {
  color: #000F99;
  font-family: Time New Roman;
}

/* user view match */
#match-section{
  width: 70%;
  margin: 0 auto;
  #league-name{
    font-size: 2em;
    text-align: center;
  }
  #match-info{
    margin-top: 30px;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    display: inline-block;
    .team{
      display: inline-block;
      a:hover{
        text-decoration: none;
      }
      img{
        border: 1px solid #e8e8e8;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      }
      p{
        font-size: 1.2em;
        margin-top: 15px;
      }
    }
    #info{
      margin-top: 20px;
      vertical-align: top;
      width: 30%;
      display: inline-block;
      span{
        font-size: 2.75em;
        margin: 0 10px;
      }
      .goals{
        font-size: 3em;
        margin: 0 5px;
      }
      p.label{
        margin: 40px 0;
        font-size: 1em;
      }
    }
    #start-time{
      font-weight: bold;
    }
  }
}

#bet-odds{
  table{
    text-align: center;
    thead tr th{
      width: 33%;
      text-align: center;
    }
  }

  .make-bet-success {
    color: #27AE60;
  }

  #user-bet {
    padding: 36px;
    .chosen {
      text-align: left;
      width: 50%;
      margin-left: 37%;
    }

    .btn {
      width: 25%;
    }

    .bet-coin {
      width: 20%;
    }

    .form-inline {
      .team1 {
        margin: 0 10px 0 0;
      }

      .draw {
        margin: 0 5px;
      }

      .team2 {
        margin-left: 10px;
      }
    }
  }
}
#match-events{
  table{
    thead tr{
      th#header-time{
        width: 10%;
        text-align: center;
      }
      th#header-event{
        text-align: center;
      }
    }
    tbody tr{
      td.time{
        text-align: center;
      }
      td.event{
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
    }
  }
}

#team-goal {
  font-size: 40px;
}

table.table.table-borde#D91E18.text-center {
  width: 70%;
  margin: auto;
}

#table-team-heading {
  width: 100%;
}

#finished-match {
  color: #D91E18;
}

#match-in-process {
  color: #27AE60;
}

#new-event {
  margin: 2% 0% 10% 16%;
  width: 79%;
  .enter-time {
    width: 20%;
    .time {
      width: 80%;
      text-align: center;
    }
  }

  .enter-event {
    width: 50%;
    .form-event {
      width: 160%;
      margin-top: 3%;
      margin-left: -20px;
      resize: vertical;
    }
  }

  .event {
    margin: 1% 15% 0 0;
  }

  .event {
    table {
      thead {
        .time-head {
          width: 19%;
          text-align: center;
        }
      }

      tbody {
        tr {
          .event-time {
            text-align: center
          }
        }
      }
    }
  }
}

.show-bet-user {
  width: 100%;
  margin: 0 auto;
  .list-bet-user {
    table {
      thead {
        .index {
          width: 10%;
        }

        .match-user-bet {
          width: 30%
        }

        .odds {
          width: 10%
        }

        .chosen {
          width: 20%;
        }

        .coin {
          width: 10%;
        }
        .time {
          width: 20%
        }
      }
    }
  }
}
#league-season-info{
  margin: 0 auto;
  padding: 0px;
  padding-left: 30px;
  .season-info-container{
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
  }
}

#table-matches tr{
  td.start-date{
    text-align: center;
    background-color: #27AE60;
    font-weight: bold;
  }
  td.start-time{
    text-align: center;
  }
  td.team1{
    width: 35%;
    text-align: right;
  }
  td.result{
    width: 10%;
    text-align: center;
    color: #D91E18;
    .goals-team1{
      margin-right: 5px;
    }
    font-weight: bold;
  }
  td.team2{
    width: 35%;
  }
  td.action{
    width: 10%;
    text-align: center;
  }
}

#rank-table{
  margin-top: 20px;
  .stats{
    width: 6%;
    text-align: center;
  }
  .rank{
    font-weight: bold;
  }
  .total_matches{
    font-weight: bold;
  }
  .score{
    font-weight: bold;
    color: red;
  }
}

#ranking-table-name{
  font-weight: bold;
  margin-bottom: 5px;
}

#schedule-table-name{
  font-weight: bold;
  margin-bottom: 5px;
}

#table-schedule{
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  .start-date{
    padding-left: 20px;
    font-weight: bold;
    border-top: 2px solid #27AE60;
    background-color:  #e8e8e8;
  }
  .start-time{
    width: 11%;
  }
  .action{
    width: 11%;
  }
  .team1{
    width: 35%;
  }
  .team2{
    width: 35%;
  }
  .result{
    font-weight: bold;
    .goals-team1{
      margin-right: 4px;
    }
  }
  .is_on {
    background-color: #f0ad4e;
  }
  .link-to-match{
    color: black;
    &:hover{
      color: red;
    }
  }
}
.new-match {
  width: 55%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .team-heading {
    width: 100%;
    padding-left: 5%;
    margin-left: 0.1%;
    background: rgba(220, 220, 220, 0.65);
  }

  .form {
    margin-top: 5%;
    margin-left: -7%;
    padding-left: 5%;
    .chose-team {
      .team1 {
        width: 40%;
        .form-control {
          width: 88%;
        }
      }
      .team2 {
        width: 40%;
        .form-control {
          width: 88%;
        }
      }
    }

    .start-time {
      margin: 2% auto;
      width: 40%;
      text-align: center;
    }
    .status {
      margin: 3% auto;
      width: 40%;
    }

    .odds {
      margin-top: 1%;
      .form-inline {
        .odds {
          width: 20%;
        }
      }
    }

    .goals {
      width: 40%;
      margin: 1% auto;
      margin-top: 2%;
      height: 69px;
      .team1-goals {
        width: 30%;
        float: left;
        input {
          height: 69px;
          text-align: center;
          font-size: 20px;
        }
      }
      #space {
        width: 40%;
        float: left;
        font-size: 39px;
      }
      .team2-goals {
        float: left;
        width: 30%;
        input {
          height: 69px;
          text-align: center;
          font-size: 20px;
        }
      }
    }

    .submit {
      margin-left: 2%;
    }
  }

  #error_explanation {
    margin: 0 3%;
    text-align: left;
  }
}

.field_with_errors {
  display: inline;
}

.heading {
  color: green;
}

.edit-match {
  -webkit-box-shadow: 5px 4px 0px 0px rgba(105, 114, 107, 0.4);
  -moz-box-shadow: 5px 4px 0px 0px rgba(105, 114, 107, 0.4);
  box-shadow: 5px 4px 0px 0px rgba(105, 114, 107, 0.4);
  width: 55%;
  margin: 0 auto;
  .team-heading {
    width: 100%;
    padding-left: 5%;
    padding-top: 2%;
    margin-left: 0.1%;
    background: rgba(220, 220, 220, 0.65);
    a {
      text-decoration: none;
      img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
    .image {
      margin-top: 1%;
      p {
        margin-top: -10px;
        font-size: 14px;
      }
      img {
        margin-top: 11px;
      }
    }

    #start-time {
      padding-right: 9%;
    }
  }

  .form {
    margin-top: 3%;
    .start-time {
      margin: 0 auto;
      padding-right: 10%;
    }

    .status {
      margin: 1% auto;
      padding-right: 7%;
      select {
        width: 248px;
      }
    }

    .goals {
      width: 40%;
      margin: 2% auto;
      margin-top: 2%;
      height: 69px;
      .team1-goals {
        width: 30%;
        float: left;
        input {
          height: 69px;
          text-align: center;
          font-size: 20px;
        }
      }
      #space {
        width: 40%;
        float: left;
        font-size: 39px;
      }
      .team2-goals {
        float: left;
        width: 30%;
        input {
          height: 69px;
          text-align: center;
          font-size: 20px;
        }
      }
    }

    .odds {
      margin: 3% 0;
      table {
        width: 60%;
        margin: 0 auto;
        input {
          text-align: center;
        }
      }
    }
  }
}

.form-new-event {
  border: 1px solid #27AE60;
  padding-left: 5%;
  width: 85%;
  padding-bottom: 28px;

  .submit {
    .add-event-submit {
      width: 110px;
      margin: 10px;
    }
  }
}

#player-profile{
  #player-info{
    display: inline-block;
    width: 25%;
    img{
      border: 1px solid #e8e8e8;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 20px;
    }
    .attribute-info{
      .attribute{
        display: inline-block;
        font-weight: bold;
        width: 40%;
      }
      .value{
        display: inline-block;
      }
      border-bottom: 1px solid #e8e8e8;
    }
  }
  #player-content{
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;
  }
}

#team-profile{
  #team-info{
    display: inline-block;
    width: 25%;
    img{
      border: 1px solid #e8e8e8;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 20px;
    }
  }
  #team-content{
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;
  }
}
.table-info-template{
  tr{
  }
  vertical-align: top;
  width: 100%;
  .attribute{
    font-weight: bold;
    width: 40%;
    vertical-align: top;
    padding: 3px 0;
  }
  .value{
    width: 70%;
    word-break: keep-all;
    vertical-align: top;
    padding: 3px 0;
  }
  margin-bottom: 20px;
}

.nav.nav-tabs{
  margin-bottom: 30px;
  li.active a{
    border-top: 2px solid #27AE60;
  }
  li a{
    border-radius: 0;
  }
}

.players-in-group{
  tbody tr td{
    vertical-align: middle;
  }
  tbody tr td.position{
    font-weight: bold;
    background-color: #27AE60;
    color: white;
  }
  .avatar{
    width: 7%;
    text-align: center;
    padding: 5px 0;
  }
  .jersey-number{
    width: 7%;
    text-align: center;
    font-weight: bold;
  }
  .name{
    width: 35%;
  }
  .country-flag{
    width: 8%;
  }
  .country-name{
    width: 20%;
  }
  .date-of-birth{
    width: 15%;
    text-align: center;
  }
}

/* form for team & player */
.form-horizontal{
  img{
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
  }
  textarea{
    resize: vertical;
    height: 200px;
    width: 100%;
  }
}
#team_search{
  width: 100%;
  .search-name{
    width: 40%;
  }
  .search-country{
    width: 25%;
    select{
      width: 100%;
    }
  }
  input{
    width: 100%;
  }
}
.table-manager-teams{
  tbody tr td{
    vertical-align: middle;
  }
  .header-index{
    width: 5%;
  }
  .header-logo{
    width: 8%;
  }
  .header-flag{
    width: 8%;
  }
  .header-country{
    width: 20%;
  }
  .header-coach{
    width: 15%;
  }
  .header-players{
    width: 5%;
  }
  .header-action{
    width: 10%;
  }
  a{
    margin-right: 10px;
  }
}

.table-teams{
  tbody tr td{
    vertical-align: middle;
  }
  .header-logo{
    width: 8%;
  }
  .header-flag{
    width: 8%;
  }
  .header-country{
    width: 20%;
  }
  .header-coach{
    width: 25%;
  }
  .header-players{
    width: 8%;
  }
}
#count-teams{
  font-weight: bold;
  margin-top: 20px;
}

#table-players{
  tbody tr td{
    vertical-align: middle;
  }
  .avatar{
    width: 7%;
  }
  .squad{
    width: 5%;
  }
  .age{
    width: 5%;
  }
  .country-flag{
    width: 8%;
  }
  .country-name{
    width: 20%;
  }
  .team-logo{
    width: 7%;
  }
  .team-name{
    width: 18%;
  }
  .position{
    width: 10%;
  }
  .squad-number{
    font-weight: bold;
  }
}

#table-manager-players{
  tbody tr td{
    vertical-align: middle;
  }
  .index{
    width: 4%;
  }
  .avatar{
    width: 7%;
  }
  .name{
    width: 20%;
  }
  .age{
    width: 5%;
  }
  .country-flag{
    width: 8%;
  }
  .country-name{
    width: 15%;
  }
  .team-logo{
    width: 7%;
  }
  .team-name{
    width: 15%;
  }
  .position{
    width: 10%;
  }
  .action{
    width: 10%;
  }
  a{
    margin-right: 10px;
  }
}

.table{
  thead{
    color: black;
    background-color: #e8e8e8;
  }
  tbody tr td{
    vertical-align: middle;
  }
}

.show-all-users {
  .heading {
    margin-bottom: 5%;
  }

  .filter {
    margin: 1%;
  }
  .table {
    thead {
      .index {
        width: 5%;
      }
      .avatar {
        width: 8%;
      }
      .name {
        width: 27%;
      }
      .email {
        width: 27%
      }
      .assign {
        width: 10%
      }
      .role {
        width: 10%;
      }
      .action {
        width: 8%;
      }
    }
  }
}

#user-profile{
  #user-info{
    vertical-align: top;
    display: inline-block;
    width: 25%;
    img{
      border: 1px solid #e8e8e8;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 20px;
    }
  }

  #user-content{
    padding-left: 5%;
    width: 74%;
    display: inline-block;
    .activities {
      .activity {
        margin-bottom: 1.5%;
        padding-left: 2%;
        padding-top: 27px;
        width: 100%;
        height: 100px;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(109, 97, 97, 1);
        -moz-box-shadow: 0px 0px 3px 0px rgba(109, 97, 97, 1);
        box-shadow: 0px 0px 3px 0px rgba(109, 97, 97, 1);
        .content {
          margin-left: 7%;
        }
        .time-ago {
          color: #abaaa9;
        }
      }
    }
  }
}
#current-team-squad{
  width: 100%;
  .header-squad-number{
    width: 5%;
  }
  .squad-number{
    font-weight: bold;
  }
  .header-avatar{
    width: 8%;
  }
  .header-age{
    width: 5%;
  }
  .header-flag{
    width: 8%;
  }
  .header-country{
    width: 20%;
  }
  .header-position{
    width: 10%;
  }
  .header-joined-date{
    width: 10%;
  }
  .action{
    width: 10%;
  }
  a{
    margin-right: 10px;
  }
}

#transfer-team-players{
  .header-index{
    width: 4%;
  }
  .header-avatar{
    width: 7%;
  }
  .header-age{
    width: 5%;
  }
  .header-height{
    width: 9%;
  }
  .header-weight{
    width: 9%;
  }
  .header-flag{
    width: 8%;
  }
  .header-country{
    width: 20%;
  }
  .header-position{
    width: 10%;
  }
  .header-action{
    width: 5%;
  }
}
.add-team-players{
  margin: 30px 0;
}
span.pull-left.transfer-players{
  font-size: 1.75em;
}
.current_squad{
  font-size: 1.75em;
  margin: 30px 0;
}

.new-country {
  margin: 0px -2%;
  padding-left: 22%;
  margin-top: 2%;
}

.show-all-countries {
  width: 100%;
  margin: 0 auto;

  .create-country {
    margin-bottom: 1%;
  }

  .table {
    .index {
      width: 8%;
    }

    .flag {
      width: 14%;
    }

    .name {
      width: 30%;
      text-align: left;
    }

    .league {
      width: 13%;
    }

    .league-season {
      width: 14%;
    }

    .players {
      width: 10%;
    }

    .action {
      width: 10%;
      .glyphicon-edit {
        margin-right: 10px;
      }
    }
  }
}

.league {
  padding-left: 6%;
  .text-area {
    height: 123px;
    width: 616px;
  }
}

.show-all-leagues {
  width: 100%;
  margin: 0 auto;
  .create-league {
    margin-bottom: 1%;
  }

  .table {
    thead {
      .index {
        width: 8%;
      }
      .name {
        width: 26%;
      }
      .country {
        width: 15%;
      }
      .founded_at {
        width: 22%;
      }
      .league-season {
        width: 17%;
      }
      .action {
        width: 12%;
      }
    }

    tbody {
      .country {
        vertical-align: middle;
      }

      .league {
        .name {
          padding-left: 2%;
        }
      }
      .action {
        .glyphicon {
          margin: 0 5px;
        }
      }
    }
  }
}

.league-season {
  .form {
    .alert {
      width: 63%;
    }
    margin-left: 25%;
    .year {
      .form-control {
        width: 400px;
      }
    }

    .teams {
      .add_fields {
        margin-right: 2%;
      }
      .field {
        margin-bottom: 1%;
        margin-left: 12%;
        .form-control {
          width: 250px;
          margin-left: 3%;
        }
      }
    }

    .submit {
      padding-left: 14.7%;
    }
  }
}

.show-league-seasons {
  width: 100%;
  margin: 0 auto;
  .search-form {
    .season {
      .form-control {
        width: 100px;
      }
    }
  }
  .league-seasons {
    .table {
      thead {
        .index {
          width: 8%;
        }
        .name {
          width: 22%;
        }
        .league {
          width: 22%;
        }
        .country {
          width: 15%;
        }
        .team {
          width: 15%;
        }
        .action {
          width: 18%;
        }
      }

      tbody {
        .glyphicon {
          margin: 0 5px;
        }
      }
    }
  }
}

.link-title{
  color: black;
  font-weight: bold;
  &:hover{
    color: #D91E18;
    text-decoration: none;
  }
}
/* news home page */
.newest-news{
  display: inline-block;
  width: 700px;
  img{
    width: 100%;
    height: 400px;
  }
  .title{
    font-size: 1.5em;
    margin-top: 10px;
  }
  .summary{
    max-height: 30px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
}


.next-newest-news{
  display: inline-block;
  width: 380px;
  float: right;
  .list-thumb-news{
    list-style: none;
    padding-left: 10px;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
  }
  .thumb-news{
    .image{
      width: 180px;
      display: inline-block;
      img{
        height: 100px;
        width: 100%;
      }
    }
    .title{
      width: 170px;
      margin-left: 10px;
      display: inline-block;
      vertical-align: top;
      overflow: hidden;
      height: 90px;
    }
  }
}

.all-news-types{
  width: 700px;
  display: inline-block;
}
.list-news_types{
  list-style: none;
  padding-left: 0;
  .news-type-name{
    margin: 30px 0;
    border-bottom: 3px solid black;
  }
  .newest-of-type{
    display: inline-block;
    width: 45%;
    img{
      width: 350px;
      height: 200px;
      margin-bottom: 10px;
    }
  }
  .next-newest-of-type{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-left: 20px;
    .list-next-newest{
      list-style: none;
      li{
        border-bottom: 1px solid #e8e8e8;
        padding: 5px 0;
      }
    }
  }
}

.show-league-season {
  a {
    margin: 2%;
  }
}

.news-type-name-show{
  margin-bottom: 30px;
  border-bottom: 3px solid black;
}
.list-news-in-type{
  list-style: none;
  padding-left: 0;
  .represent-image{
    vertical-align: top;
    display: inline-block;
    width: 35%;
    img{
      width: 260px;
      height: 150px;
    }
  }
  .title-summary{
    display: inline-block;
    width: 60%;
    .title{
      font-size: 1.25em;
    }
  }
}
.boxed-label{
  font-size: 1.25em;
  font-weight: bold;
  color: black;
  &:hover{
    text-decoration: none;
  }
}

.panel-group{
  margin-top: 20px;
  .panel{
    border-radius: 0;
    .panel-title{
      a &:hover{
        text-decoration: none;
      }
      img{
        margin-right: 10px;
      }
      font-weight: bold;

    }
    .panel-body{
      padding: 0;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          padding: 10px 20px;
          border-bottom: 1px solid #e8e8e8;
        }
      }
    }
  }
  .active{
    background-color: pink;
  }
}
#league-accordion-menu{
  display: inline-block;
  width: 25%;
}
#league-season-info{
  display: inline-block;
  width: 74%;
  vertical-align: top;
}
#country {
  margin-left: 10%;
}

.glyphicon-trash {
  &:hover {
    color: #D91E18;
  }
}
#user-coin {
  color: yellow;
}
.hot-news{
  vertical-align: top;
  display: inline-block;
  margin-left: 30px;
  width: 25%;
  .news-type-name{
    margin-bottom: 20px;
    border-bottom: 3px solid black;
  }
  .list-hot-news{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      padding: 5px 0;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}

.hot-news.type{
  .news-type-name{
    margin-top: 0px;
  }
}
.hot-in-index{
  width: 360px;
  padding-top: 30px;
}
.news-type-container{
  display: inline-block;
  width: 70%;
}
#daily-schedules-container{
  width: 70%;
  display: inline-block;
  vertical-align: top;
  #daily-schedules-header{
    margin: 30px 0;
    #title{
      display: inline-block;
      h3{
        margin: 0;
      }
    }
    #search-matches-form{
      display: inline-block;
      #q_start_time_date_equals{
        font-weight: bold;
        font-size: 1.2em;
      }
    }
  }
}
#daily-schedule{
  margin-top: 20px;
  .league-season{
    padding-left: 20px;
    font-weight: bold;
    border-top: 2px solid #27AE60;
    background-color: #e8e8e8;
    .glyphicon{
      margin-right: 10px;
    }
  }
  .start-time{
    width: 10%;
  }
  .action{
    width: 10%;
  }
  .team1{
    width: 35%;
  }
  .team2{
    width: 35%;
  }
  .result{
    font-weight: bold;
    .goals-team1{
      margin-right: 4px;
    }
  }
  .link-to-match{
    color: black;
    &:hover{
      color: red;
    }
  }
}
.header-news{
  margin-bottom: 20px;
}
.news-type-search{
  margin-top: 0;
}

.footer ul {
  font-size: 13px;

  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}

.newsletter-box {
  overflow: hidden;
}

.social li {
    list-style-type: none;
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background: #e5e7e9;
  border: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 -16px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 187px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

.input-group {
  .btn {
    height: 34px;
  }
}

#player-name{
  margin: 20px 0;
}
#team-name{
  margin: 20px 0;
}

#league-season-container{
  width: 70%;
  display: inline-block;
  vertical-align: top;
  .league-season-header{
    margin-top: 20px;
    vertical-align: middle;
    .league-name{
      margin-bottom: 30px;
      display: inline-block;
      h3{
        margin-top: 0px;
      }
    }
    .dropdown{
      display: inline-block;
      vertical-align: middle;
      #button-select-season{
        width: 160px;
        font-weight: bold;
        font-size: 1.2em;
      }
    }
  }
}
#list-leagues-container{
  width: 25%;
  display: inline-block;
  margin-left: 4%;
  margin-top: 20px;
  .title-list{
    border: 1px solid #e8e8e8;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 15px;
    background-color: #e8e8e8;
  }
  .list-group{
    .list-group-item{
      img{
        margin-right: 10px;
      }
    }
    .list-group-item:first-child{
      border-radius: 0;
    }
    .list-group-item:last-child{
      border-radius: 0;
    }
  }
}
