<footer>
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"><%= t "layouts.footer" %></p>
      <div class="pull-right">
        <ul class="social">
          <li><a href="https://fb.com/datdeo09"><i class=" fa fa-facebook"></i></a></li>
          <li><a href="https://fb.com/lucnguyen.it"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://fb.com/tronghieuqhi"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="https://youtube.com"><i class="fa fa-youtube"></i> </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
